/*====================== NAVBAR =========================*/
nav {
  width: 100%;
  background: #02367b;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .navbar-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
}
