/*====================== NAVBAR =========================*/
nav {
  width: 100%;
  background: #02367b;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .navbar-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
}

.config {
  flex: 0 0 20%;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
  margin-left: 20px;
  padding: 20px;
  color: #222;
}

.cofigTitle button {
  margin-top: 1rem;
}

.configContainer {
  display: flex;
  justify-content: space-between;
}

.configContainer div input {
  width: 60px;
}
